<nav>
    <ul>
        <div class="main-nav">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/cocktails">Browse Cocktails</a>
            </li>
        </div>
        
        {{#if loggedIn}}
        <div>
            <button id="myaccount" class="btn">My Account</button>
            <button id="logout" class="btn">logout</button>
            <script src="/javascript/logout.js"></script>
            {{else}}
            <button id="logout" class="btn"><a href="/login">login</a></button>
        </div>
        {{/if}}
    </ul>

</nav>