<div>
    <h1 id="page-title">Bossy Bartender</h1>
</div>
<nav>
    <ul>
        <div class="main-nav">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/cocktails">Browse Cocktails</a>
            </li>
        </div>
        {{#if loggedIn}}
        <button id="logout" class="btn">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
    </ul>
    
</nav>

 
 