<nav>
    <ul>
        <div class="main-nav">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/cocktails">Browse Cocktails</a>
            </li>
        </div>
        {{#if loggedIn}}
        <button id="logout" class="btn">logout</button>
        {{else}}
        <button id="logout" class="btn"><a href="/login">login</a></button>
      
        {{/if}}
        
    </ul>
    
</nav>

 
 