<div>
    <h1 id="page-title">Bossy Bartender</h1>
</div>
<nav>
    <ul>
        <div class="main-nav">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/cocktails">Browse Cocktails</a>
            </li>
        </div>
        {{#if loggedIn}}
        <li class="login">
            <button id="logout" class="btn btn-link">Logout</button>
        </li>
        {{else}}
        <li class="login">
            <a href="/login">Login</a>
        </li>
        {{/if}}
    </ul>
</nav>
