<nav>
    <ul>
        <div class="main-nav">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/cocktails">Browse Cocktails</a>
            </li>
        </div>
        
        {{#if loggedIn}}
        <div class="account-nav">
            <li class="my-account">
                <button id="my_account" class="btn btn-link"><a href="/userpage">My Account</a></button>
            </li>
            <li class="logout">
                <button id="logout" class="btn">Logout</button>
            </li>
            {{else}}
            <li class="login">
                <a href="/login">Login</a>
            </li>
        </div>
        {{/if}}
    </ul>

</nav>
{{!-- <script src="/javascript/logout.js"></script> --}}