<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bossy Bartender</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="wrapper">
        <main>
            {{{ body }}}
        </main>

        <footer>
            Thanks for visiting the Bossy Bartender. Cheers!
        </footer>

    </div>
    {{#if loggedIn}}
    {{!-- <script src="/javascript/logout.js"></script> --}}
    {{/if}}
</body>

</html>