<div>
    <h1 id="page-title">Cocktails</h1>
</div>

<h3>Peruse our cocktails, vote on them, and comment.</h3>

{{!-- Testing SMS --}}
<div>
    <form>
        <input type="tel" class="phone" />
    </form>
    <button class="btn btn-secondary" type="button" id="smsText">
            Send SMS
    </button>
</div>

<script src="javascript/sms.js"></script>