
<div>
    <h1 id="page-title">Cocktails</h1>
</div>

<h3>Peruse our cocktails, vote on them, and comment.</h3>

<div>
<button id="cocktails" class="category-button">Cocktails</button>
<button id="shots" class="category-button">Shots</button>
<button id="homemade-liqueur" class="category-button">Homemade Liqueur</button>
<button id="party-drinks" class="category-button">Punch / Party Drinks</button>
<button id="random-drink" class="category-button">Tell Me What to DrinK!</button>
</div>

<div id="category-container">
    <div id="cocktails-container">
    </div>
</div>

{{!-- Testing SMS --}}
<h1>Testing SMS - Input your phone number to get a text!</h1>
    <div>
        <form>
            <input type="tel" class="phone" />
        </form>
        <button class="btn btn-secondary" type="button" id="smsText">
                Send SMS
        </button>
    </div>
<script src="javascript/cocktails.js"></script>
<script src="javascript/sms.js"></script>
