<div>
    <h1 id="page-title">Cocktails</h1>
</div>

<h3>Peruse our cocktails, vote on them, and comment.</h3>

<div>
<button id="cocktails">Cocktails</button>
<button id="shots">Shots</button>
<button id="homemade-liqueur">Homemade Liqueur</button>
<button id="party-drinks">Punch / Party Drinks</button>
</div>

<div id="category-container">
    <div id="cocktails-container">
    </div>
</div>

<script src="javascript/cocktails.js"></script>
