<div id="homepage-container">
    <div>
        <h2 id="page-title">Matching Cocktails</h2>
    </div>
    <div class="drink-container row" id="drink-container"></div>
</div>
<div id="recipe" class="recipe-2">
    <div class="modal fade" id="recipeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div id="recipeModalInner" class="modal-dialog modal-dialog-centered" role="document">
        </div>
    </div>
</div>


{{!-- <script src="/javascript/drinks.js"></script> --}}

<script src="/javascript/save.js"></script>
<script src="/javascript/drinks.js"></script>
<script src="/javascript/sms.js"
