<div id="homepage-container">
    <div>
        <h1 id="page-title">Matching Cocktails</h1>
    </div>

    <h3>Here are the cocktails that match your search</h3>
    <div class="drink-container" id="drink-container"></div>
</div>
<div id="recipe" class="recipe-2">
    <div class="modal fade" id="recipeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div id="recipeModalInner" class="modal-dialog modal-dialog-centered" role="document">
        </div>
    </div>
</div>


{{!-- <script src="/javascript/drinks.js"></script> --}}

<script src="/javascript/save.js"></script>
