<section>
  <div id="user-page">
    <p></p>
    <h2>Here are the cocktails you loved and wanted to save for later! Is now later?</h2>

    <div id="saved-drinks">

    </div>
  </div>
</section>

<script src="/javascript/saved-drinks.js"></script>
