h1, h4 {
    color: white;
    background-color: #FF206E;
    padding: 20px 0;
}

.hero p {
    background-image: url(../assets/images/hero.png);
    background-repeat: repeat-x;
    background-size: 25% auto;
    background-attachment: cover;
    height: 25vw;
    display: flex;
}

p {
    font-size: larger;
}