
/* Global Styles Start */
:root {
  --primary-color: #FF206E;
  --secondary-color: #CBFF8C;
  --tertiary-color: #231651;
  --primary-text-color: #ffffff;
  --secondary-text-color: #39393A;
  --black-rgb: 0, 0, 0;
  --white-rgb: 255, 255, 255;
}

* {
  box-sizing: border-box;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

body {
  background-color: var(--secondary-color);
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  text-align: center;
}

button {
  background-color: var(--secondary-color);
  color: var(--secondary-text-color);
}
/* Global Styles End */

/* Header Styles Start */
header {
  background: var(--primary-color);
  position: sticky;
  position: -webkit-sticky; /* For Safari Browsers */
  z-index: 9999;
  display: flex;
  flex-wrap: nowrap;
  padding: 10px;
  top: 0;
}

header h1 a {
  font-size: 25px;
}


header a {
  color: var(--primary-text-color);
  text-shadow: 0 2px 10px rgba(var(--black-rgb), 0.5);
}

header nav {
  margin: 10px 0 10px -50px;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

header nav ul li {
  padding: 5px 20px;
}

header nav ul li:hover {
  background-color: var(--secondary-color);
  border-radius: 25%;
}

header nav ul li a:hover {
  text-decoration: none;
  color: var(--secondary-text-color);
}

.main-nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  list-style: none;
}

.login {
  display: flex;
  justify-content: right;
}

.login:hover {
  background-color: var(--secondary-color);
  border-radius: 25%;
}

li {
  list-style: none;
}
 
.logout {
  display: flex;
  justify-content: right;
}

.logout:hover {
  background-color: var(--secondary-color);
  border-radius: 25%;
}
/* Header Styles End */

/* Hero Styles Start */
.hero p {
  background-image: url(../assets/images/hero.png);
  background-repeat: repeat-x;
  background-size: 25% auto;
  background-attachment: cover;
  height: 25vw;
  display: flex;
}
/* Hero Styles End */

/* Body Syles Start */
a {
  text-decoration: none;
}

h1, h4 {
  color: var(--primary-text-color);
  background-color: var(--primary-color);
  padding: 20px 0;
}

p {
  font-size: larger;
}
/* Body Styles End */

/* Results Page Styles */
.card {
  margin: 10px;
  padding: 5px;
  border-color: var(--primary-text-color);
  border-width: 2px;
}

/* Modal Styles Start */
.modal-header {
  background-color: var(--primary-color);
}
.col-6, .col-10 {
  text-align: left;
}

.col-4 {
  text-align: right;
}

.save-button {
  background-color: var(--tertiary-color);
  color: var(--primary-text-color);
}
/* Modal Styles End */

/* Footer Styles Start */
footer {
  background: var(--primary-color);
  display: flex;
  background-size: cover;
  padding-right: 10px;
  text-align: right;
  color: var(--primary-text-color);
  display: block;
  font-weight: lighter;
  font-size: 110%;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 2.5rem;  
}
/* Footer Styles End */

/* Media Queries */
/* MQ for screens smaller that 980px */
@media screen and (max-width: 980px) {
  header {
      position: unset;
      padding: 0 0 10px 0;
      justify-content: center;
      text-align: center;
  }

  header h1 {
      width: 100%;
      padding: 5px;
      margin-top: 0px;
      margin-bottom: 0px;
      font-size: 5vw;
  }

  header nav {
      justify-content: center;
      margin: 0;
  }
  
  header nav ul {
      padding: 0px 0px;
  }
}
